/* Cores

#0C0D0D
#0A0140
#2C04BF
#3805F2
#2E038C 

        primary: '#1b1f38',
        secondary: '#252a48',
        tertiary:'#313862',
*/

.header {
    position: relative;
    font-weight: bold;
    text-align: right;
    transition: .3s;

    
}
.header-logo {
    position: relative;
    margin: 0;
    padding-top: 25px;
    margin-right: 100px;
    font-size: 35px;
    text-shadow: 4px 63x rgba(black, .1);
    }
.logo{
width: 100px;
height: 100px;
align-items: center;
margin-top: 40px;
margin-left: 100px;
}
.body-do-painel{
    position: fixed;
    background-color: #252a48;
    margin-top:-50px ;
    margin-left: 15px;
    float: left;
    width: 300px;
    height: 655px;
    border-radius: 6px;
}
.titulo-drop{
    margin-top: 100px;
}
.painel-lateral{
    margin-left: 10px;
}
.lateral-dropdown{
    color: #0A0140;
}

.body-do-painel-texto{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 40px;
    text-align: justify;
    line-height: 1.6em;
}
/* GRAFICOS */

.figGraficoBarrasHoriCongestionamentoMes{
    float: left;
    width: 510px;
    height: 100px;
    margin-left: 360px;
    margin-top: 10px;
}
.figGraficoCongestionamentoMesRegiao{
    float: right;
    margin-top:10px;
    margin-right: 55px;
    width: 505px;
    height: 500px;
}
.figGraficoBarraDiaSemana{
    float: right;
    margin-top: 20px;
    margin-right: 50px;
    width: 1030px;
    height: 100px;
}
.figGraficoBarraComparacaoCongestionamentoMesRegiao{
    float: right;
    margin-top: 320px;
    margin-right: 50px;
    width: 1030px;
    height: 100px;
}
.figGraficoLinhaComparacaoRegiaoMes{
    float: right;
    margin-top: 370px;
    margin-right: 50px;
    width: 1030px;
    height: 100px;
}



/* INDICADORES */
.figIndicadorZonaMaoirMediaCongestionamento{
    float: left;
    margin-top: 30px;
    margin-left:360px;

}
.figIndicadorDiaComMaiorMediaCongestionamento{
    float: left;
    margin-top: 30px;
    margin-left: 10px;

}
.figIndicadorViaComMaoirMediaCongestionamento{
    float: left;
    margin-top: 30px;
    margin-left:10px;

}
.figIndicadorMesMaiorMediaCongestionamento{
    float: left;
    margin-top: 30px; 
    margin-left: 10px;

}

